.navigation {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;

  .logo-container {
    height: 100%;
    width: 70px;
    padding: 25px;
  }
  nav {
    height: 100%;
    padding-right: 25px;
  }

  ul {
    list-style-type: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    li {
      padding: 10px 15px;
      cursor: pointer;
    }
  }
}

a {
  text-decoration: none;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
